


<a class="btn btn-primary" (click)="backClicked()" role="button">Volver</a>

<div class="space"></div>

<div class="texto">
  <h1>Flota</h1>
</div>


<div>


  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 28rem;">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title"><span>{{flota.nombreFlota}}</span></h5>
          <p class="card-text"><span>{{flota.tipoDeCarga}}</span></p>
        </div>
        <ul class="list-group list-group-light list-group-small">
          <li class="list-group-item px-4"><span>{{flota.cantidadVehiculos}}</span></li>
        </ul>
        <div class="card-body">
          <button type="button" class="btn btn-info" (click)="clickFlotaToEdit(flota.id)" ><span>Editar </span></button>
          <button type="button" class="btn btn-danger"   (click)="FlotaDelete(flota.id)"  ><span>Eliminar </span></button>
        </div>

      </div>
    </div>

      <div class="col-5">

        <div class="space"></div>
       <div>
          <img src="https://www.autopista.es/uploads/s1/96/18/96/0/apertura.jpeg" class="d-block w-100" alt="Wild Landscape"/>
        </div>
          <div class="text1">
            <h5>Flotas conectadas con IOT</h5>
            <p>Conecta tus vehículos con Internet de las Cosas (Internet of Things) y toma decisiones más rápidas y más seguras gracias al seguimiento del uso de tu flota</p>
          </div>

      </div>





<div class="texto">
  <h2>Vehiculos de flota </h2>
</div>


    <div class="container-fluid py-2">
      <div class="d-flex flex-row flex-nowrap">

        <div class="card" style="width: 22rem;" *ngFor="let vehiculo of flota.vehiculos">
          <span (click)="openCar(vehiculo.id)">
          <img [src]="vehiculo.img" class="card-img-top" alt="Chicago Skyscrapers" />
        </span>

          <div class="card-body">
            <h5 class="card-title"><span (click)="openCar(vehiculo.id)">{{vehiculo.nombre}} </span></h5>
            <p class="card-text"><li class="list-group-item px-4"><span > Información = {{vehiculo.comentario}}</span></li></p>
          </div>
        <ul class="list-group list-group-light list-group-small">
          <li class="list-group-item px-4"><span >Tipo = {{vehiculo.tipo}}</span></li>
          <li class="list-group-item px-4"><span >Fecha registro = {{vehiculo.fechaRegistro}}</span></li>
          <li class="list-group-item px-4"><span >ITV = {{vehiculo.itv}}</span></li>
          <li class="list-group-item px-4"><span >Documentos = {{vehiculo.docs}}</span></li>
          <li class="list-group-item px-4"><span >Km Recorridos = {{vehiculo.kmrecorridos}}</span></li>
        </ul>
          <div class="card-body">
            <button type="button" class="btn btn-info"  (click)="openCar(vehiculo.id)"><span>Informacion del Vehiculo </span></button>

          </div>
        </div>
    </div>




</div>

<div class="space"></div>
