
.btn{
  margin-left: 25px;
  margin-right: 25px;
  box-shadow: 0px 0px 10px 0px rgba(145, 144, 144, 0.75);
}

.card {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 10px 0px rgba(145, 144, 144, 0.75);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.texto {
  margin-left: 200px;
  margin-right: 100px;
}

.map{
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 0px 0px 10px 0px rgba(145, 144, 144, 0.75);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.mapcontrols {
  margin-left: 80px;
  margin-top: 100px;
  box-shadow: 0px 0px 10px 0px rgba(145, 144, 144, 0.75);
  border-radius: 10px;
  padding: 20px;
}

.col-5{
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 50px;

}

.text1{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;

}


