<hr>
<!-- Footer -->
<footer class="bg-light text-center ">
  <!-- Grid container -->
  <div class="container p-4">

    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button">Facebook<em class="fab fa-facebook-f"></em></a>

      <!-- Twitter -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button">Twitter<em class="fab fa-twitter"></em></a>

      <!-- Google -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button">Google<em class="fab fa-google"></em></a>

      <!-- Instagram -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button">Instagram<em class="fab fa-instagram"></em></a>

      <!-- Linkedin -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button">Linkedin<i class="fa fa-linkedin" aria-hidden="true"></i><em class="fab fa-linkedin-in"></em></a>
      <!-- Github -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button">Github<em class="fab fa-github"></em></a>
    </section>
    <!-- Section: Social media -->


    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Suscribete para más informacion</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Dirección Email</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary mb-4">
              Subscribete
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->


    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        No te pierdas ningún detalle con esta tecnología que agrupa inteligentemente
        los activos cercanos. Simplifica la gestión de incluso las grandes flotas
        y visualiza los datos críticos de la flota de un vistazo. Solicitanos más informacion
        para una idea global de todas las mejores que puedes conseguir simplemente con un click.
      </p>
    </section>
    <!-- Section: Text -->


    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Productos</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Seguimiento</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Logotipo</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Web</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Adword</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Nosotros</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Somos</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Mision y vision</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Valores</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Politicas</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Legal</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Terminos y Condiciones</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Politica de Privacidad</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Politica de devoluciones</a>
            </li>
            <li>
              <a href="#!" class="text-dark"></a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Siguenos</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Blog</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Contacto</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Soporte</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Academy</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright:
    <a class="text-dark" href="https://www.sanvalero.es/">CENTRO SAN VALERO</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
